.student-nav {
  display: block;
  position: fixed;
  top: 0;
  z-index: 2;
}

nav>h1 {
  display: inline;
  padding: 5px 20px;
}

nav>h1:hover {
  cursor: pointer;
  text-decoration: underline;
}

.link {
  padding: 5px 20px;
  font-size: large;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.required {
  color: red;
}

.form-label {
  display: inline-block;
  width: 250px;
  margin: 10px;
}

.test {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  width: 25%;
  text-align: center;
  margin: 25px;
}