<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>True Facts</title>
</head>
<body>
    <h1>True Facts.</h1>

    <ul>
        {{#each facts}}
        <li>{{text}}</li>
        {{/each}}
    </ul>
</body>
</html>